# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyBQ0KlmgJu5eDnNUTBfGLhQGPzaPfjD61o"

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDmimfXGr3aYMM7SLmvnxvtH3LQOQ-BbGc"
VITE_FIREBASE_AUTH_DOMAIN="ivy-studio-3152a.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ivy-studio-3152a"
VITE_FIREBASE_STORAGE_BUCKET="ivy-studio-3152a.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="638750309354"
VITE_FIREBASE_APP_ID="1:638750309354:web:75fe3063c1333cc1eb5093"
VITE_FIREBASE_MEASUREMENT_ID="G-VD7T4LMZ0J"
